# Name: Beamforming

# Description:
# ImageJ plugins for computing Local Thickness and Distance Map.

# Author: Bob Dougherty, OptiNav, Inc. www.optinav.com
# Version: 1
# Date: 2007/8/10

# Generate the jar file using: "jar cvfM LocalThickness_.jar *"

Analyze>Local Thickness, "Local Thickness (complete process)", sc.fiji.localThickness.Local_Thickness_Driver
Analyze>Local Thickness, "Local Thickness (masked, calibrated, silent)", sc.fiji.localThickness.LocalThicknessWrapper
Analyze>Local Thickness, "Geometry to Distance Map", sc.fiji.localThickness.EDT_S1D
Analyze>Local Thickness, "Distance Map to Distance Ridge", sc.fiji.localThickness.Distance_Ridge
Analyze>Local Thickness, "Distance Ridge to Local Thickness", sc.fiji.localThickness.Local_Thickness_Parallel
Analyze>Local Thickness, "Local Thickness to Cleaned-Up Local Thickness", sc.fiji.localThickness.Clean_Up_Local_Thickness